/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.card {
    width: 50%;
}

.card-footer {
    display: flex;
    justify-content: space-evenly;
}

.floating {
    float: right;
}